<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidbezalellaoli.mwa14">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker0"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.loker5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.jadwal_interview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.activity_loker6"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.profile_camera" />
        <activity android:name=".view.activity.notes" />
        <activity android:name=".view.activity.daftarLoker" />

        <service android:name=".view.activity.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".view.activity.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.activity.login_admin" />
        <activity android:name=".view.activity.home_admin"></activity>
    </application>

</manifest>